@media (max-width:768px) {
	.inner-signin {
	float: left;
}
.inner-signin .login a:hover, .inner-signin .regester a:hover{
	background: unset !important;
}
#input-search{
	width: 100%;
}
#submit-search{
	right: 0 !important;
}

}