#header{
	clear: both;
}

#hot-line{
	background: #4e69a2;
		overflow: hidden;
		padding: 3px 0px;
		
}
#hotline-icon{
	padding: 5px 5px;
    border: 2px solid #fff;
    margin-bottom: 4px;
    border-radius: 100%;
    color: #fff;
}
.hotline-text,.hotline-number{
   vertical-align: 2px;
    font-size: 16px;
}
.hotline-text{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	vertical-align: 0px;
}
.hotline-number{
	font-size: 20px;
	font-weight: bold;
	color: #EE2121;
	vertical-align: -1px;
}
.inner-signin {
	float: right;
}
.inner-signin .login, .inner-signin .regester{
float: left;
}
.inner-signin .login a span, .inner-signin .regester a span{
	color: #fff;
}

.inner-signin .login a, .inner-signin .regester a{
	color:  #fff;
	text-decoration: none;
    padding: 14px 10px;
    vertical-align: -7px;
}
.inner-signin .login a:hover, .inner-signin .regester a:hover{
	background: #e95e0b;
}

.form-search{
	position: relative;
	margin-top: 15px;
}
#input-search{
	    border-radius: 0 3px 3px 0;
    border: none;
    margin: 0;
    padding: 0 0 0 5px;
    height: 34px;
    width: 615px;
    background: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #4e69a2;
    box-shadow: none;

}

#submit-search{
cursor: pointer;
    cursor: pointer;
    height: 34px;
    width: 45px;
   
    display: block;
    position: absolute;
    right: 30px;
    border: none;
    top: 0;
    font-weight: bold;
    background-color: #4e69a2;
    color: #fff;
    border-radius: 0 3px 3px 0;
}
.suggest{
	margin-top: 5px;
}

.logo-search-cart {
    margin-top: 20px;
}
.cart{
	margin-top: 10px;
}
.cart a{
	text-decoration: none;
}
.inner-cart span:first-child{
	position: relative;
	font-size: 40px;
	color: #4e69a2;
}
  .total-cart{
    position: absolute;
      top: 0px;
    left: 37px;
    background-color: #4e69a2;
    border-radius: 20px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 22px;
    color: #fff;
}
.cart a span:last-child{
	vertical-align: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/*menu-top*/
.menu-top{
	background-image: url(https://lh3.googleusercontent.com/proxy/3sjazxTCgdECVHKdYVSwOFsAx4vgfnw0-vTcKvG4L9Vdn3bItZ80EYvnITmpuzuDXVoygExHOW0tmxLXy6RCByvWdzk2=s0-d);
    background-repeat: repeat-x;
    background-color: #3a5795;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 39px;
    margin-top: 15px;

}
.menu-left {
    height: 39px;
    background:#385490;
    /* box-shadow: inset 0 -3px 0 rgba(0,0,0,0.05); */
    width: 90%;
    position: relative;
}

.menu-left a span.glyphicon.glyphicon-home {
    font-size: 26px;
    color: #fff;
        margin-right: 10px;
    margin-left: 10px;
}
.menu-left span{
   color: #FFF;
    padding-left: 0;
    line-height: 40px;
    font-size: 12px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.menu-left span:last-child{
	margin-left: 20px;
}
.submenu ul li{
	position: relative;
}
.submenu ul li a:hover{
	color: red;
}
.submenu ul li .child{
	position: absolute;
	top: 100px;
	left: 30px;
	display: none;
	z-index: 1000;

}
.submenu>ul>li>a:hover>.child{
	display: block;
}