

#header{
	clear: both;
}

#hot-line{
	background: #4e69a2;
		overflow: hidden;
		padding: 3px 0px;
		
}
#hotline-icon{
	padding: 5px 5px;
    border: 2px solid #fff;
    margin-bottom: 4px;
    border-radius: 100%;
    color: #fff;
}
.hotline-text,.hotline-number{
   vertical-align: 2px;
    font-size: 16px;
}
.hotline-text{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	vertical-align: 0px;
}
.hotline-number{
	font-size: 20px;
	font-weight: bold;
	color: #EE2121;
	vertical-align: -1px;
}
.inner-signin {
	float: right;
}
.inner-signin .login, .inner-signin .regester{
float: left;
}
.inner-signin .login a span, .inner-signin .regester a span{
	color: #fff;
}

.inner-signin .login a, .inner-signin .regester a{
	color:  #fff;
	text-decoration: none;
    padding: 14px 10px;
    vertical-align: -7px;
}
.inner-signin .login a:hover, .inner-signin .regester a:hover{
	background: #e95e0b;
}

.form-search{
	position: relative;
	margin-top: 15px;
}
#input-search{
	    border-radius: 0 3px 3px 0;
    border: none;
    margin: 0;
    padding: 0 0 0 5px;
    height: 34px;
    width: 615px;
    background: #fff;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #4e69a2;
    box-shadow: none;

}

#submit-search{
cursor: pointer;
    cursor: pointer;
    height: 34px;
    width: 45px;
   
    display: block;
    position: absolute;
    right: 30px;
    border: none;
    top: 0;
    font-weight: bold;
    background-color: #4e69a2;
    color: #fff;
    border-radius: 0 3px 3px 0;
}
.suggest{
	margin-top: 5px;
}

.logo-search-cart {
    margin-top: 20px;
}
.cart{
	margin-top: 10px;
}
.cart a{
	text-decoration: none;
}
.inner-cart span:first-child{
	position: relative;
	font-size: 40px;
	color: #4e69a2;
}
  .total-cart{
    position: absolute;
      top: 0px;
    left: 37px;
    background-color: #4e69a2;
    border-radius: 20px;
    width: 21px;
    height: 21px;
    text-align: center;
    line-height: 22px;
    color: #fff;
        border: 1px solid #fff;

}
.cart a span:last-child{
	vertical-align: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
/*menu-top*/
.menu-top{
	background-image: url(https://lh3.googleusercontent.com/proxy/3sjazxTCgdECVHKdYVSwOFsAx4vgfnw0-vTcKvG4L9Vdn3bItZ80EYvnITmpuzuDXVoygExHOW0tmxLXy6RCByvWdzk2=s0-d);
    background-repeat: repeat-x;
    background-color: #3a5795;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    height: 39px;
    margin-top: 15px;

}
.menu-left {
    height: 39px;
    background:#385490;
    width: 90%;
    position: relative;
}

.menu-left a span.glyphicon.glyphicon-home {
    font-size: 26px;
    color: #fff;
        margin-right: 10px;
    margin-left: 10px;
}
.menu-left span{
   color: #FFF;
    padding-left: 0;
    line-height: 40px;
    font-size: 12px;
    vertical-align: middle;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}
.menu-left span:last-child{
	margin-left: 20px;
}
.submenu{
    position: absolute;
	background: #FDFCFC;
    width: 100%;
    z-index: 2;
}
.submenu ul li{
	position: relative;
	border-bottom: 1px solid #ccc;
}
.submenu ul li:last-child{
	border:none;
}
.submenu ul li a {
	display: block;
	padding:11.7px 5px;
	text-decoration: none;
	font-size: 14px;
	color:#000;
	font-weight: bold;
}
.submenu ul li a i{
	width: 20px;
	text-align: center;
}
.submenu ul li a:hover{
	color: #4e69a2;
}
.submenu ul li .sub1{
	position: absolute;
	top: 0px;
	right: -620px;
	display: none;
	z-index: 1000;
	width: 620px;
      background: #FDFCFC;
	height: auto;
	border: 1px solid #ccc;
	transition: all 0.3s ease-in-out;
	    padding: 10px;
}
.sub-title h3{
	font-size: 16px;
	    font-weight: bold;
    font-family: Arial,Helvetica,sans-serif;
    color:  #4e69a2;
}
.submenu>ul>li:hover>.sub1{
	display: block;
}
.colmenu li{
	border: none !important; 
	
}
.colmenu li a{
	padding:5px 5px !important;
}

.colmenu-logo{
	overflow: hidden;
}
/*wrapp*/
.wrapp{
	width: 100%;
	height: auto;
	background: #ccc;
	
}
.slideshow{
       margin-left: 236px;
    margin-top: 12px;
}
.owl-pagination{
    display: none !important;
}
.content-left{
 width: 76%;
}
.content-right{
    width: 24%;
    padding: 0px !important;
}
.online-phone-tile  h3{
    height: 31px;
    line-height: 31px;
    color: #Fff;
    text-align: left;
    padding: 0 15px 0 10px;
    font-size: 14px;
    font-family: Arial,Helvetica,Sans Serif;
    text-transform: uppercase;
    font-weight: bold;
    border-top: 1px solid #ddd;
    margin: 0;
    background: #4e69a2;

}
.online-phone-content-left{
   
    width: 110px;
    overflow: hidden;
    height: 99px;
    background: url("image/lienhe.png") no-repeat;
    position: relative;
}
.online-phone-content-left img{
     float: left;
    margin-left: 13px;
    margin-top: 12px;
    width: 75px;
    height: 75px;
    border-radius: 100%;
    overflow: hidden;

}
.inner-online-phone .online-phone-content-right,.inner-online-phone .online-phone-content-left {
    float: left;
}
.online-phone-content-right p:first-child
{
font: 13px arial;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 22px;
}
.online-phone-content-right p:first-child span{
    color: #f55438;
}
.online-phone-content ul li{
    padding:12px 0px;
    overflow: hidden;
}
.online-phone{
    background: #FFFFFF;
    overflow: hidden;
    margin-top: 10px;
}
.inner-online-phone{
    overflow: hidden;
}
.camket{
    margin-top: 10px;
}
.camket-title{
    height: 55px;
    background: none !important;
    border-bottom: 2px solid #2f477a;
    position: relative;

}
.camket-title:before{
    position: absolute;
    content: url("image/camket.png");
    top:0px;
    left: 0px;
}
.camket-title h4{
       
   line-height: 64px;
    color: #4e69a2;
    font-weight: bold;
    text-align: center;
   
    font-size: 14px;
    font-family: Arial,Helvetica,Sans Serif;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;

}
.camket-content ul li{
    padding: 5px 0 0 0;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.camket-content ul li span.star{
position: absolute;
    top: 10px;
    left: 11px;
    color: #fff;
    font-weight: bold;
}
.camket-content ul li img {
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.camket-content ul li:hover img{
     transform: rotate(360deg);
}
.name-camket{
    vertical-align: 5px;
}
.camket-content{
    background: #FFFFFF;
   padding: 10px 18px;

}
.hot-product{
    margin-top: 20px;

}

.hot-product h4 ,.news-title h4{
        border-top: 1px solid #ddd;
    height: 31px;
    line-height: 31px;
    color: #4e69a2;
    font-weight: bold;
    text-align: left;
    padding: 0 15px 0 10px;
    font-size: 14px;
    font-family: Arial,Helvetica,Sans Serif;
    text-transform: uppercase;
    border-bottom: none;
    margin: 0;
}
.hot-product-title{
        height: 32px;
    background: #F3F3F3;
    background: #fff;
    border-bottom: 2px solid #2f477a;
}
.hot-product-content{
    background: #FFFFFF;
    padding: 0px 2px;
}
.hot-product-content ul li a{
    display: block;
    height: 81px;
    text-decoration: none;
}
.hot-product-content ul li{
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.hot-product-img {
    float: left;
    margin: 5px;
    height: 68px;
    width: 85px;
}
.hot-product-img img{
    width: 100%;
    height: auto;
}
.hot-product-name{
    color: #000;
    padding-top: 7px;
    font-size: 16px;
    padding-right: 5px;
    overflow: hidden;
    line-height: 17px;
}

.hot-product-content ul li a:hover .hot-product-name{
    color: #F13C3C;
}
.news{
    background: #FFFFFF;
    margin-top: 20px;
}
.news-title{
    height: 33px;
    background: #fff;
    border-bottom: 2px solid #2f477a;

}
.news-title h4, .news-title a{
    display: inline-block;
    border: none;

}
.news-title  a{
    float: right;
    padding: 8px 17px;
    text-decoration: none;
    font-size: 13px;
    color: #555!important;
    font-weight: bold;
}
.news-title  a i{
    vertical-align: -1px;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;

}
.news-title a:hover{
    color:#3a5795 !important;
}
.news-title  a:hover i{
    display: none;
}
.news .hot-product-content ul li{
    border: none !important;
}
#footer{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top: 2px solid rgba(103,102,102,0.20);
    background-color: #F6F6F6;

}